{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'js/prestamo/list.js' %}"></script>
{% endblock %}
{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">Nro</th>
        <th scope="col" style="width: 10%;">ID Usuario</th>
        <th scope="col" style="width: 10%;">Fecha realizacion</th>
        <th scope="col" style="width: 10%;">Fecha devolucion</th>
        <th scope="col" style="width: 50%;">Ejemplares</th>
        <th scope="col" style="width: 10%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
{% endblock %}

{% block javascript %}
{% endblock %}